{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/home/assets/img/home-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-12 col-lg-10 col-xl-10">
      {% for blog in blogs%}
      <!-- Post preview-->
      <div class="post-preview post-info">
        <a class="row" href="{% url 'post' blog.slug %}">
          <div class="col-4 square">  
            <img class="rounded" src="/media/{{blog.image}}" alt="">
          </div>
          <div class="col-8">
            <h3 class="post-title">{{blog.title}}</h3>
            <!-- <p class="post-subtitle">{{blog.content|safe}}</p> -->
          </div>
        </a>
        <p class="post-meta d-flex justify-content-end">
          Posted by -<a href="#!"> {{blog.user.username}} </a>- on {{blog.created_at}}
        </p>
      </div>
      <hr class="my-4" />
      {% endfor %}
      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4 rounded"><a class="btn btn-sm btn-outline-secondary text-uppercase rounded" href="#!">Older Posts →</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}