{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<link href="{% static 'home/css/login.css' %}" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<input type="hidden" id="csrf" value="{{csrf_token}}">
<header class="masthead" style="background-image: url('/static/home/assets/img/home-bg.jpg')">
    <div class="container justify-content-center pb-5">
            <div class="site-heading pb-5">
                <div class="login-reg-panel rounded">
                    
                    <!-- Login Form -->
                    <div class="login-info-box rounded">
                        <h2>Have an account?</h2>
                        <p>Login using your credientials.</p>
                        <label id="label-register" for="log-reg-show">Login</label>
                        <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
                    </div>
                    
                    <!-- Register Option -->
                    <div class="register-info-box rounded">
                        <h2>Don't have an account?</h2>
                        <p>Get started by registering yourself.</p>
                        <label id="label-login" for="log-login-show">Register</label>
                        <input type="radio" name="active-log-panel" id="log-login-show">
                    </div>

                    <div class="white-panel rounded">
                        <div class="login-show">
                            <h2>LOGIN</h2>
                            <div class="noshow" id="log-error-msg">Error msg</div>
                            <input class="rounded" id="username_log" type="text" placeholder="User name">
                            <input class="rounded" id="password_log" type="password" placeholder="Password">
                            <input class="rounded btn-b"  type="button" onclick="login()" value="Login">
                            <a href="">Forgot password?</a>
                        </div>
                        <div class="register-show">
                            <h2>REGISTER</h2>
                            <div class="noshow" id="reg-error-msg">Error msg</div>
                            <input class="rounded" id="username_reg" type="text" placeholder="Username">
                            <input class="rounded" id="email_reg" type="email" placeholder="Email">
                            <input class="rounded" id="password_reg" type="password" placeholder="Password">
                            <input class="rounded btn-b" type="button" onclick="register()" value="Register">
                        </div>
                    </div>
                </div>
            </div>
    </div>
</header>

<script src="{% static 'home/js/login.js' %}"></script>
<script src="{% static 'home/js/main.js' %}"></script>
{% endblock %}